Fail when base scheme is required but absent

I wonder about the reasoning behind this behaviour (in this [test][]):

```
  it('create an IRI from a relative IRI when no baseIRI is given', () => {
    expect(resolve('abc'))
      .toEqual('abc');
  });
```

This is the only test case where the return value lacks a scheme, breaking the expectation that `resolve` returns a valid absolute IRI.

Should `resolve` not throw an error instead? The base scheme seems required if the relative IRI does not provide one. From [RFC 3986, section 5.2][]:

> Note that only the scheme component is required to be
> present in a base URI; the other components may be empty or
> undefined.

Also see its pseudocode of the transformation algorithm:

      if defined(R.scheme) then
         …
      else
         …
         T.scheme = Base.scheme;
      endif;

Apart from this, great module!

[test]: https://github.com/rubensworks/relative-to-absolute-iri.js/blob/c98c1bea011256b5febe53fde19bf1f8ceb152c5/test/Resolve-test.ts#L24-L27
[RFC 3986, section 5.2]: https://tools.ietf.org/html/rfc3986#section-5.2

Oh, good catch!
It looks like this may indeed be a bug.
Not sure why I wrote this unit test like that in the first place.

The fix should be easy though. Checking the presence of a scheme in `relativeIRI` should probably be added somewhere around here: https://github.com/rubensworks/relative-to-absolute-iri.js/blob/master/lib/Resolve.ts#L38-L40.